name: Generate PDF

on:
  pull_request:
    paths:
      - 'RFCs/src/**.md'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always

jobs:
  generate-pdf:
    name: Generate PDF
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      packages: read
      pull-requests: write
    steps:
    - name: Get fetch depth
      id: fetch-depth
      run: echo "depth=$(expr ${{ github.event.pull_request.commits }} + 1)" >> $GITHUB_OUTPUT

    - name: Checkout
      uses: actions/checkout@v4
      with:
        ref: ${{ github.head_ref }}
        fetch-depth: ${{ steps.fetch-depth.outputs.depth }}

    - name: Set safe directory
      run: git config --global --add safe.directory "$GITHUB_WORKSPACE"

    - name: Make PDFs
      uses: docker://ghcr.io/org-zpr/docs:latest

    - name: Check diff
      id: diff
      shell: bash
      run: |
        if git diff --quiet ; then
          echo "has-diff=false" >> "$GITHUB_OUTPUT"
        else
          mkdir tmp
          git diff --name-only | xargs cp -t tmp
          echo "has-diff=true" >> "$GITHUB_OUTPUT"
        fi

    - name: Upload PDFs
      id: upload
      if: fromJSON(steps.diff.outputs.has-diff)
      uses: actions/upload-artifact@v4
      with:
        name: changed-rfcs
        path: tmp/*
        overwrite: true

    - name: Post Comment
      if: fromJSON(steps.diff.outputs.has-diff)
      run: gh pr comment $PR_NUM --body "$TEXT"
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        PR_NUM: ${{ github.event.pull_request.number }}
        TEXT: "Generated PDFs can be downloaded here: ${{ steps.upload.outputs.artifact-url }}"
